@font-face {
  font-family: 'nbg';
  src: url('../font/NanumBarunGothic.ttf');
}
#bg09{
  margin: 0px;
  padding: 0px;
}

html{
  margin:0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

.positionAbsolute{
  position: absolute;
  cursor: pointer;
}

#scriptCount {
  font-family: nbg;
  color: #B7B7B7;
}
#recordState, #scriptArea {
  font-family: nbg;
  color: #AAAAAA;
}
