@font-face {
  font-family: 'nbg';
  src: url('../font/NanumBarunGothic.ttf');
}
#bg08{
  margin: 0px;
  padding: 0px;
}

html{
  margin:0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

.positionAbsolute{
  position: absolute;
  cursor: pointer;
}

#inputT1,#inputT2{
  border:0px;
  background-color: inherit;
  font-family: "nbg";
  color:#656565;
  vertical-align: top;
}
