@font-face {
  font-family: 'nbg';
  src: url('../font/NanumBarunGothic.ttf');
}
#bg09{
  margin: 0px;
  padding: 0px;
}

html{
  margin:0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

.positionAbsolute{
  position: absolute;
  cursor: pointer;
}

#scriptCount {
  font-family: nbg;
  color: #B7B7B7;
}
#recordState, #scriptArea {
  font-family: nbg;
  color: #AAAAAA;
}

#titleText, #titleChangeText {
  font-family: nbg;
  color: #AAAAAA;
}
#scriptArea{
  overflow-y: scroll;
}
#modalBg{
  width: 100%;
  height: 100%;
  background-color: RGBA(0,0,0,0.8);
  top:0px;
  left:0px;
}
#scriptArea{
    line-height:175%;
}
