@font-face {
  font-family: 'nbg';
  src: url('../font/NanumBarunGothic.ttf');
}
#mbg11{
  margin: 0px;
  padding: 0px;
}
html{
  margin:0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}

.positionAbsolute{
  position: absolute;
}

#mFairyTale {
  position: absolute;
  overflow-y: scroll;
}

#searchText {
  font-family: nbg;
  font-size: 25px;
  border:0px;
  background-color: inherit;
  color: #717171;
}

#select {
  overflow-y: scroll;
}
