@font-face {
  font-family: 'nbg';
  src: url('../font/NanumBarunGothic.ttf');
}
#mbg08{
  margin: 0px;
  padding: 0px;
}
html{
  margin:0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}

.positionAbsolute{
  position: absolute;
}

#writeText {
  font-family: nbg;
  font-size: 26px;
  color: #6E6E6E;
}
